<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2">
      <%= simple_form_for(restaurant) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select the restaurant category" %>
        <%= f.submit "Add restaurant", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
